version: "3.8"
services:
    mongodb:
        image: mongo:5.0.3
        environment:
            - PUID=1000
            - PGID=1000
        volumes:
            - db:/data/db # Necessary volume to keep database data between restarts
        ports:
            - 27017:27017 # Expose port to let you connect in db for debug, dont do it in prod
        restart: unless-stopped
        networks:
            - net_lemverse
    lemverse:
        build:
            context: .
            dockerfile: Dockerfile.dev
        restart: unless-stopped
        networks:
            - net_lemverse
        depends_on:
            - mongodb
            - peer
        ports:
            - '9001:9000' # Expose web port to see your change
            - '7010:7010' # expose peer port
        volumes:
            - lemverse:/var/tmp/lemverse # Necessary volume for upload tileset and keep them between restart
            - ./app:/opt/src # mount local dir to allow hot reload
        environment:
            ROOT_URL: ${APP_ROOT_URL:-http://localhost}
            MONGO_URL: mongodb://mongodb:27017/meteor
volumes:
    lemverse:
        driver: local 
    db:
        driver: local
    
# Custom network so all services can communicate using a FQDN
networks:
    net_lemverse:
        driver: bridge
        name: net_lemverse
