@import "../../../client/_variables";

.report {
  width: 90%;
  height: 80%;
  margin: auto;

  form {
    height: 100%;
    textarea {
      margin-top: 25px;
      width: 100%;
      height: 80%;
    }

    .buttons {
      display: flex;
      gap: 10px;

      .js-ban-submit {
        background-color: $new-red;

        &:hover {
          background-color: lighten($new-red, 5%);
        }
      }

      button {
        margin-bottom: 0px;
      }
    }
  }
}
