$primary-color: #E8C97A;
$secondary-color: #3B3A4F;
$text-color: #D17851;

$lem-border: rgba(0, 38, 255, 0.08);
$primary-color-transparent-1: rgba(59, 58, 79, 0.4);

$lem-color-1: #8d7865;
$lem-color-2: #dce0c3;
$lem-color-3: #f4f7df;
$lem-color-4: #e3bc79;
$lem-color-5: #3f96d6;
$lem-color-6: #3bbc84;
$lem-color-7: #d14e53;
$lem-color-8: #3c3c3c;
$lem-color-9: #1d1d1d;

// Shade of grey
$gray100: #f0f7f8;
$gray200: #cfd8dc;
$gray300: #a7b7be;
$gray400: #6b7e86;
$gray500: #425a65;

$main-color: #2b2d3d;
$light-red: #E58273;
$light-green: #13C4A3;
$light-blue: #02a3ff;
$light-yellow: #FFE19C;

$main-text-color: #cec9d5;

$radius: 0.5rem;
