@import "_variables";

.character-pop-in {
  position: fixed !important;
  box-sizing: border-box;
  z-index: 200 !important;
  background-color: white;
  border-radius: 5px;

  p {
    margin: 0;
    overflow: hidden;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11pt;
  }

  &.fade-in {
    animation: fadeIn 0.25s linear;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }

  &.with-arrow:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    transform: translate(-50%, -1px);
    border-top: 12px solid white;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  &.wood-style {
    background-color: $lem-color-3;
    color: $lem-color-1;

    &.with-arrow:before {
      border-top: 12px solid $lem-color-3;
    }
  }

  &.animated-text p {
    width: 0;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 0.75s steps(40, end) forwards;
  }

  @keyframes typing {
    from {
      width: 0
    }

    to {
      width: 100%
    }
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  .toggle-full-screen {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 100;
    background-color: white;
    width: 25px;
    height: 25px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: '◹';
    }
  }

  &.full-screen {
    position: absolute;
    width: 90% !important;
    height: 90% !important;
    left: 50% !important;
    top: 50% !important;
    transform-origin: center center !important;
    transform: translate(-50%, -50%) !important;

    .toggle-full-screen:before {
      content: '◺';
    }
  }
}
