@import "_variables";

.character-pop-in {
  position: fixed !important;
  box-sizing: border-box;
  z-index: 200 !important;
  background-color: white;
  border-radius: 5px;

  >p {
    text-align: center;
    margin: 0;
    overflow: hidden;
    padding: 10px;
    font-size: 11pt;

    &.copy {
      cursor: pointer;

      *:not(a) {
        pointer-events: none;
      }
    }
  }

  &.fade-in {
    animation: fadeIn 0.25s linear;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }

  &:not(.full-screen) {
    &.with-arrow:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      transform: translate(-50%, 9px);
      border-top: 9px solid white;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
  }

  &.wood-style {
    background-color: $lem-color-3;
    color: $lem-color-1;

    &.with-arrow:before {
      border-top: 9px solid $lem-color-3;
    }
  }

  &.blurred {
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(2px);

    &.with-arrow:before {
      border-top: 9px solid rgba(255, 255, 255, 0.75);
    }
  }

  &.tooltip {
    color: white;
    background-color: rgba(25, 25, 25, 0.9);

    &.with-arrow:before {
      border-top: 9px solid rgba(25, 25, 25, 0.9);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }

    a {
      color: #02a3ff;
    }
  }

  &.dark {
    background-color: rgb(25, 25, 25);

    &.with-arrow:before {
      border-top: 9px solid rgb(25, 25, 25);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
  }

  &.acid p,
  &.acid .with-arrow:before {
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
      inset 4px 4px 6px rgba(0, 0, 0, 0.2);
    color: yellow;
    text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: acid 1.5s linear infinite;
  }

  @keyframes acid {
    0% {
      filter: hue-rotate(0deg);
    }

    100% {
      filter: hue-rotate(360deg);
    }
  }

  &.animated-text p {
    width: 0;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 0.75s steps(40, end) forwards;
  }

  @keyframes typing {
    from {
      width: 0
    }

    to {
      width: 100%
    }
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  .toggle-full-screen {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 100;
    background-color: white;
    width: 25px;
    height: 25px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: '◹';
    }
  }

  &.full-screen {
    position: absolute;
    width: 90% !important;
    height: 90% !important;
    left: 50% !important;
    top: 50% !important;
    transform-origin: center center !important;
    transform: translate(-50%, -50%) !important;

    .toggle-full-screen:before {
      content: '◺';
    }
  }
}
