.selected-tileset {
  margin: 0;
  padding: 0;
  flex-grow: 1;

  .marker {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
    pointer-events: none;
  }

  .layer {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 2px;
    border-radius: 2px;
    pointer-events: none;
    font-size: 9px;
    border: 1px solid black;
    background-color: #ECEFF4;
  }

  img {
    cursor: pointer;
    image-rendering: pixelated;
  }
}

.info {
  height: 100vh;
  width: 250px;
  border: 1px solid black;
  user-select: none;
  overflow-y: scroll;

  div.js-tilesets-select {
    cursor: pointer;
    display: flex;

    .tileset-name {
      align-self: center;
    }

    .js-tileset-remove {
      margin-right: 10px;
    }

    input.hidden {
      display: none;
    }

    &:hover {
      background-color: #ddd;
    }

    &.active {
      background-color: #00ff00;
    }
  }
}

.modal.tile-properties-modal {
  z-index: 15;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;

  >div {
    display: flex;
  }

  > :first-child {
    flex-direction: column;
    flex: 1;
  }

  textarea {
    width: 100%;
    height: 210px;
    flex: 1;
  }

  .js-zone-delete {
    margin-left: auto;
  }
}
