.iframe {
    height: 100%;
    width: 100%;
    position: fixed;

    &>* {
        user-select: none;
    }

    .red {
        position: absolute;
        top: 57px;
        left: 144px;
    }

    @keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .blink-image {
        animation: blink normal 1s infinite ease-in-out;
    }


    .hide {
        display: none;
    }

    .dark-light {
        margin: 30px;
        height: 100%;
        font-family: 'helvetica';
        padding: 0;
    }

    .container {
        height: 200px;
        width: 400px;
        display: flex;
        flex-flow: column nowrap;
        border: 2px solid black;
        justify-content: center;
        align-items: center;
    }

    .dark,
    .light {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
    }

    .message {
        justify-content: center;
        align-items: center;
    }
}

@media (prefers-color-scheme: light) {
    .iframe {
        background: white !important;
    }
    
    .dark {
        background-color: white;
    }

    .container {
        position: relative;
    }

    .container:after {
        content: '2';
        position: absolute;
        top: -20px;
        right: -20px;
        color: black;
    }

    .light {
        background-color: black;
    }
}

@media (prefers-color-scheme: dark) {
    .iframe {
        background: black !important;
    }

    .container {
        position: unset;
        border: 2px solid white !important;
    }

    .container:after {
        content: '-1';
        position: absolute;
        color: white;
        bottom: 0;
        right: 0;
    }

    .dark {
        background-color: black;
    }

    .light {
        background-color: white;
    }
}