@import "_variables";

.form-account {
  position: absolute;
  width: auto;
  min-height: 150px;
  padding: 15px;
  color: $text-color;
  border-radius: $radius;
  background-color: $primary-color;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  z-index: 50;
  opacity: 0;
  transition: opacity 0.15s;
  left: 0;
  right: 0;
  bottom: 0;

  &.visible {
    opacity: 1;
  }

  .title {
    margin: 5px 0 20px 0;
    padding: 0;
  }

  p {
    line-height: 25px;
  }

  form {
    max-width: 380px;
    margin: 0 auto;

    .group-field {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
  
      label {
        flex-grow: 1;
        font-weight: bold;
      }
  
      input {
        flex-grow: 1;
        background-color: white;
        border-radius: $radius;
        border: 0;
        min-width: 250px;
        padding: 0 5px;
        height: 30px;
      }
    }
  }

  button.submit {
    border: none;
    background-color: $lem-color-4;
    border-radius: $radius;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 14pt;
    color: $text-color;
    cursor: pointer;

    &:hover, &:focus {
      background-color: darken($lem-color-4, 10%);
      color: white;
    }

    &:disabled {
      background-color: hsl(0, 0%, 63%);
      color: white;
      cursor: not-allowed;
    }
  }

  .link {
    background: none;
    border: 0;
    color: $lem-color-1;
    font-size: 11pt;
    text-decoration: underline;
    cursor: pointer;

    &:hover, &:focus {
      color: darken($lem-color-1, 15%);
    }
  }

  button.js-previous-step {
    color: $text-color;
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 33pt;
    background: none;
    border: 0;
    transform: translate(0, -50%);
    cursor: pointer;

    &:hover, &:focus {
      color: darken($text-color, 5%);
    }
  }
}

@media screen and (min-width: 640px) {
  .form-account {
    left: 50%;
    bottom: 15px;
    transform: translate(-50%, 0);
    max-width: 650px;
  }
}
