@import "_variables";

:root {
  --edit-border-size: 1rem;
  --edit-border-radius: 1rem;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

.nipple {
  z-index: 40 !important;
}

.lemverse {
  display: flex;
  user-select: none;

  .simulation {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-basis: 100%;
    -webkit-app-region: drag;

    &.edit {
      -webkit-app-region: no-drag;

      .user-panel,
      .reactions-toolbox,
      .js-streams,
      .user-panel {
        display: none;
      }
    }
  }
}

#game {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.loading {

    /* Hide pop-ins during loading */
    >div {
      opacity: 0 !important;
    }
  }

  >div {
    z-index: 3;
    opacity: 1;
    transition: opacity 0.25s;
  }

  >canvas {
    z-index: 1;
  }

  &.edit {
    overflow: hidden;
    top: var(--edit-border-size);
    bottom: var(--edit-border-size);
    left: var(--edit-border-size);
    right: var(--edit-border-size);
    border-radius: var(--edit-border-radius);
    box-sizing: border-box;

    canvas,
    >div {
      position: absolute;
      top: calc(-1 * var(--edit-border-size));
      left: calc(-1 * var(--edit-border-size));
      bottom: calc(-1 * var(--edit-border-size));
      right: calc(-1 * var(--edit-border-size));
    }

    >canvas {
      pointer-events: all;
    }
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

#meet {
  position: absolute;
  right: 0;
  left: 50%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s;
  z-index: 100;
  pointer-events: none;
  background-color: #474747;

  &.show {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }

  &.fullscreen {
    left: 25%;
  }
}

#webpage {
  position: absolute;
  right: 0;
  left: 50%;
  height: 100vh;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s;
  background-color: white;
  pointer-events: none;

  &.show {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }

  iframe {
    width: 100%;
    height: 100vh;
  }
}

.js-streams {
  position: absolute;
  right: 0;
  max-height: calc(100vh - 200px);
  overflow-y: scroll;

  video:not(.fullscreen) {
    object-fit: cover;
  }
}

.user-panel {
  position: absolute;
  z-index: 50;
  bottom: 20px;
  right: 5px;
  opacity: 0;
  transition: opacity 0.15s;

  &.visible {
    opacity: 1;
  }

  .js-stream-me {
    position: relative;
    width: 164px;
    height: 124px;
    background-color: #ECEFF4;
    border-radius: 10px;
    border: 2px solid white;
    margin: 5px;
    z-index: 30;
    background-size: contain;
    transition: opacity 0.25s linear;
    pointer-events: none;

    &.active {
      pointer-events: all;
    }

    video {
      width: 160px;
      height: 120px;
      border-radius: 10px;
      display: none;
      object-fit: scale-down;
      transform: scale(-1, 1);
    }

    &.active-video video {
      display: block;
    }

    .buttons {
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-evenly;

      .button {
        background-color: #ECEFF4;
        border: 1px solid #4C566A;
        padding-left: 5px;
        padding-right: 2px;
        border-radius: 4px;
        height: 26px;
        width: 20px;
        font-size: 12pt;
        box-sizing: content-box;
        padding: 2px 5px;
        margin: 0;

        &:hover {
          background-color: #E5E9F0;
        }

        &.active {
          background-color: green;
        }
      }
    }

    &.has-radial-menu {
      opacity: 0;

      &.active {
        opacity: 1;
      }
    }
  }

  .js-stream-screen-me {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 340px;
    height: 200px;
    background-color: black;
    border: white 2px solid;
    border-radius: 10px;
    overflow: hidden;
    z-index: 28;

    video {
      width: 100%;
      object-fit: fill;
      height: 100%;
    }
  }
}

button.js-notifications {
  position: absolute;
  right: 200px;
  bottom: 0;
  padding: 4px 8px !important;
  font-size: 22px;
  display: none;
  z-index: 101;
  width: 40px;

  &.visible {
    display: block;
  }

  &.has-radial-menu {
    bottom: 20px;
    left: 20px;
  }

  &:after {
    content: attr(data-count);
    color: white;
    position: absolute;
    bottom: 0;
    right: 3px;
    font-weight: bold;
    font-size: 16px;
    background-color: red;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    line-height: 22px;
  }

  &[data-count="0"]:after {
    display: none;
  }
}

#noty_layout__bottomLeft {
  z-index: 100;
}
