@import "_variables";

:root {
  --edit-border-size: 1rem;
  --edit-border-radius: 1rem;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

.nipple {
  z-index: 40 !important;
}

.lemverse {
  display: flex;
  user-select: none;

  .simulation {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-basis: 100%;
    -webkit-app-region: drag;

    &.edit {
      -webkit-app-region: no-drag;

      .reactions-toolbox,
      .js-streams,
      .user-panel {
        display: none;
      }
    }
  }
}

#game {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.loading {
    /* Hide pop-ins during loading */
    >div {
      opacity: 0 !important;
    }
  }

  >div {
    z-index: 3;
    opacity: 1;
    transition: opacity 0.25s;
  }

  >canvas {
    z-index: 1;
  }

  &.edit {
    overflow: hidden;
    top: var(--edit-border-size);
    bottom: var(--edit-border-size);
    left: var(--edit-border-size);
    right: var(--edit-border-size);
    border-radius: var(--edit-border-radius);
    box-sizing: border-box;

    canvas,
    >div {
      position: absolute;
      top: calc(-1 * var(--edit-border-size));
      left: calc(-1 * var(--edit-border-size));
      bottom: calc(-1 * var(--edit-border-size));
      right: calc(-1 * var(--edit-border-size));
    }

    >canvas {
      pointer-events: all;
    }
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

#meet {
  position: absolute;
  right: 0;
  left: 50%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s;
  z-index: 100;
  pointer-events: none;
  background-color: #474747;

  &.show {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }

  &.fullscreen {
    left: 25%;
  }
}

#webpage {
  position: absolute;
  right: 0;
  left: 50%;
  height: 100vh;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s;
  background-color: white;
  pointer-events: none;

  &.show {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }

  iframe {
    width: 100%;
    height: 100vh;
  }
}

.js-streams {
  position: absolute;
  right: 0;
  max-height: calc(100vh - 200px);
  overflow-y: scroll;

  video:not(.fullscreen) {
    object-fit: cover;
  }
}

.user-panel {
  position: absolute;
  z-index: 50;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.15s;

  &.visible {
    opacity: 1;
  }

  .js-stream-me {
    position: relative;
    width: 160px;
    height: 46px;
    background-color: rgba($main-color, 0.9);
    border-radius: 15px;
    z-index: 30;
    background-size: cover;
    transition: all 0.15s linear;
    overflow: hidden;

    &.active {
      width: 240px;
      height: 180px;
      background-color: rgba($main-color, 1);

      .buttons button:not(.active) {
        opacity: 0.5;
      }
    }

    video {
      width: 240px;
      height: 180px;
      border-radius: 10px;
      display: none;
      object-fit: scale-down;
      transform: scale(-1, 1);
    }

    &.active-video video {
      display: block;
    }

    .buttons {
      position: absolute;
      bottom: 8px;
      left: 0;
      right: 0;
      display: flex;
      gap: 7px;
      justify-content: center;

      .button {
        background-color: lighten($main-color, 65%);
        height: 30px;
        width: 30px;
        box-sizing: content-box;
        padding: 0;
        margin: 0;
        border-radius: $radius;

        svg {
          transform: translate(0, 2px) scale(0.85);
        }

        &:hover {
          background-color: lighten($main-color, 70%);
        }

        &.active {
          background-color: $light-green;
        }
      }
    }
  }

  .js-stream-screen-me {
    display: none;
    position: absolute;
    bottom: 25px;
    right: 16px;
    width: 340px;
    height: 200px;
    background-color: $main-color;
    border-radius: 15px;
    overflow: hidden;
    z-index: 28;

    video {
      width: 100%;
      object-fit: fill;
      height: 100%;
    }
  }
}

button.js-notifications {
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding: 4px 8px !important;
  font-size: 2.5rem;
  display: none;
  z-index: 101;
  width: 75px;
  background-color: $light-orange;
  border: 0;
  border-radius: $radius;
  height: 75px;
  animation: pulse 1s infinite;

  &.visible {
    display: block;
  }

  &:hover {
    background-color: lighten($light-orange, 15%);
  }

  &::after {
    content: attr(data-count);
    color: white;
    position: absolute;
    bottom: 7px;
    right: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: darken($light-red, 10%);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }

  &[data-count="0"]::after {
    display: none;
  }
}

#noty_layout__topLeft {
  z-index: 100;
  pointer-events: none;

  >* {
    pointer-events: auto;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($light-orange, 0.7);
  }

  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 10px rgba($light-orange, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($light-orange, 0);
  }
}
