.levels {
  .container {
    padding: 0 5px;
  }

  .h2 {
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .tabs {
    position: sticky;
    padding: 0;
    display: flex;
    background: none;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10px;
    top: 0;
    background: #eceff3;

    > button {
      display: block;
      flex: 1;
      text-align: center;
      background: none;
      border: 0;
      appearance: none;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      padding: 10px 0;

      &.active, &:hover {
        border-bottom: 2px solid #0078e7;
        color: #0078e7;
      }

      &.active {
        font-weight: bold;
      }
    }
  }

  .levels-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      width: 100%;

      button {
        width: 100%;
        appearance: none;
        background: none;
        border: 0;
        display: flex;
        padding: 10px 5px;
        cursor: pointer;

        &:hover {
          background-color: #0078e7;
          color: white;
        }

        span {
          pointer-events: none;
          flex: 1;

          &.left {
            text-align: left;
          }

          &.small {
            flex: 0.25;
          }
        }
      }
    }
  }

  input, textarea, select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    min-height: 36px;
    padding: 8px 12px;
    width: 100%;
    margin-top: 5px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    box-sizing: border-box;
    border-radius: 1px;
    font-size: 15px;
    color: #404040;
    outline: none;
  }

  label.label {
    font-size: 11pt;
  }

  button.button {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    user-select: none;
    vertical-align: middle;
    background-color: #0078e7;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #fff;
    font-size: 100%;
    padding: .5em 1em;
    text-decoration: none;
    margin-top: 7px;
    width: 100%;

    &:hover {
      background-color: darken(#0078e7, 5%);
    }
  }
}
