* {
  box-sizing: border-box;
  /* user-select: none */
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ECEFF4;
  color: #2E3440;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

.admin {
  height: 100%;
}

.status {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 30px;
  color: white;
  text-align: center;
  z-index: 50;
}

.status.connecting {
  background-color: #f1bb55;
}

.status.disconnected {
  background-color: #f06a6a;
}

.status a {
  color: white;
  font-weight: bolder;
}

.activities {
  margin: 4px 4px 87px 4px;
}


.activity {
  background-color: #f8f8f8;
  margin-bottom: 4px;
  cursor: pointer;
  border-radius: 4px;
}


.activity .background {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ddd;
  white-space: nowrap;
}

.activity .text {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.activity .name {
  white-space: nowrap;
  overflow: auto;

  flex: 1;
  transition: transform 200ms ease;
}

.activity .time {
  visibility: hidden;
  width: 0;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  transform: scale(2);
  opacity: 0;
  transition: opacity 300ms ease;
}

.activity .percent {
  width: 30px;
  transition: transform 200ms ease;
  text-align: right;
}

.activity.active .name {
  line-height: 1rem;
  transform: scale(.8) translate(-25px, 28px);
}

.activity.active .time {
  visibility: initial;
  flex: 1;
  opacity: 1;
}

.activity.active .percent {
  flex: 1;
  transform: scale(.8) translate(25px, 23px);
}

.tabs {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 4px;
}

.tab {
  flex: 1;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  padding-top: 22px;
  height: 60px;
  background-color: #f8f8f8;
  text-align: center;
}

.tab:not(:first-child) {
  margin-left: 4px;
}

.tab.active {
  background-color: #ddd;
}

.small {
  font-size: 80%;
}
