$background-color: #eeeff3;
$text-color: #4f4f4f;

.modal {
  .modal-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: black;
    opacity: 0.5;
  }

  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    width: 500px;
    height: 500px;
    background-color: $background-color;
    border: 2px solid white;
    border-radius: 10px;
    margin: 0;
    overflow: hidden;

    .js-modal-close {
      position: absolute;
      right: 10px;
      top: 10px;
      appearance: none;
      background: none;
      border: 0;
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }

    .modal-content {
      color: $text-color;

      .modal-title {
        color: black;
        text-align: center;
        margin: 0;
      }
    }
  }
}
