.modal.notif {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: max-content;
  min-height: 5rem;

  .notification-message {
    margin: 10px 5px;
    padding: 5px;
    line-height: 1.2;
    text-align: center;
  }

  .close {
    align-self: flex-end;
    margin-right: 5px;
  }
}
