.paint-interface {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;

  .counter {
    z-index: 50;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    width: 140px;
    height: 50px;
    border-radius: 5px;
    opacity: 0.8;
    color: black;
    font-size: 20pt;
    text-align: center;
    line-height: 51px;
  }

  .scores {
    z-index: 50;
    visibility: visible;
    position: absolute;
    border: 1px solid black;
    background-color: white;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    width: 150px;
    height: 60%;
    overflow: scroll;

    ul {
      list-style-type: decimal;
    }
  }
}
