:root {
  --emoji-button-size: 32px;
  --emoji-size: 19px;
}

.reactions-toolbox {
  position: fixed;
  left: 10px;
  top: 10px;
  padding: 3px 0;
  margin: 5px;
  width: auto;
  display: flex;
  flex-direction: column;
  color: #2E3440;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.15s;
  background-color: hsl(220, 27%, 94%);
  border: 2px solid white;
  border-radius: 15px;

  .buttons {
    display: flex;
    flex-direction: row;
    padding: 0 5px;

    button {
      width: var(--emoji-button-size);
      height: var(--emoji-button-size);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 3px;
      appearance: none;
      background-color: transparent;
      border: 0;
      transition: all 0.1s linear;

      &:hover {
        transform: scale(1.5);
      }

      &[data-value="❤️"]:hover {
        animation: heartbeat 1s infinite;
      }

      div.emoji {
        pointer-events: none;
        font-size: var(--emoji-size);
        line-height: var(--emoji-size);
        width: var(--emoji-size);
        height: var(--emoji-size);
      }
    }
  }

  &.visible {
    opacity: 1;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.25);
  }

  40% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.25);
  }

  80% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}
