:root {
  --emoji-button-size: 32px;
  --emoji-size: 19px;
}

.reactions-toolbox {
  position: fixed;
  z-index: 50;
  left: 10px;
  top: 10px;
  padding: 5px;
  margin: 5px;
  width: auto;
  display: flex;
  flex-direction: column;
  color: #2E3440;
  opacity: 0;
  transition: opacity 0.15s;

  .buttons {
    display: flex;
    flex-direction: row;
    z-index: 51;

    button {
      width: var(--emoji-button-size);
      height: var(--emoji-button-size);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px;
      z-index: 52;
  
      div.emoji {
        pointer-events: none;
        z-index: 53;
        font-size: var(--emoji-size);
        line-height: var(--emoji-size);
        width: var(--emoji-size);
        height: var(--emoji-size);
      }
    }
  }

  &.visible {
    opacity: 1;
  }
}
