.stream {
  z-index: 5;
  background-color: hsl(0, 0.0, 8.6);
  border-radius: 10px;
  border: 2px solid white;
  margin: 5px;
  position: relative;
  overflow: hidden;
  width: 320px;
  height: 240px;
  transition: border 0.25s linear;

  &.talking {
    border: 2px solid #008001;
  }

  &:before {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  &[data-state="calling"]:before {
    content: 'Calling…';
  }

  &[data-state="media-error"]:before {
    content: 'Media error 😢';
  }

  &:hover {
    border: 2px solid black;
  }

  .stream-name {
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: #ECEFF4;
    border-radius: 4px;
    padding: 3px 5px;
    border: 1px solid black;
    z-index: 10;
  }

  img,
  video {
    pointer-events: none;
  }

  .webcam {
    width: 320px;
    height: 240px;
    cursor: pointer;

    .mute {
      position: absolute;
      z-index: 10;
      top: 5px;
      right: 35px;
      font-size: 24px;

      div:nth-child(1) {
        position: absolute;
        z-index: 11;
      }

      div:nth-child(2) {
        position: absolute;
        z-index: 12;
        transform: scale(0.65);
      }
    }

    img,
    video {
      width: 320px;
      height: 240px;
      position: absolute;
      background-color: #292929;
      background-image: url("loader-white.gif");
      background-size: inherit;
      background-repeat: no-repeat;
      background-position: center;
    }

    img {
      z-index: 8;
      cursor: default;
    }
  }

  .screenshare {
    cursor: pointer;
    width: 128px;
    height: 72px;
    z-index: 12;
    position: absolute;
    bottom: -2px;
    right: -2px;
    border: 2px solid white;
    background-color: #292929;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      border: 2px solid black;
    }

    video {
      width: 128px;
      height: 72px;
      background-color: #292929;
      background-image: url("loader-white.gif");
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;

      &.fullscreen {
        background-size: initial;
      }
    }
  }

  .screenshare.fullscreen,
  .webcam.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: calc(100% - 400px);
    height: 100%;
    border: none;
    background-color: #292929;
    border-radius: 0;
    margin: 0;

    video,
    img {
      height: auto;
      max-width: 100%;
      width: 100%;
      border-right: 2px solid white;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    video {
      background-image: url("loader-white.gif");
      background-size: inherit;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
