div.settings {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;

  .title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 14pt;
  }

  .h2 {
    font-size: 14pt;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
  }

  .options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    >* {
      width: calc(50% - 10px);
      margin: 0 5px;
      box-sizing: border-box;

      &:last-child {
        margin-top: 17px;
        width: 100%;
      }
    }
  }

  label {
    display: block;
    padding-top: 15px;
    font-size: 10pt;
  }

  input,
  textarea,
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    min-height: 36px;
    padding: 8px 12px;
    width: 100%;
    margin-top: 5px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    box-sizing: border-box;
    border-radius: 1px;
    font-size: 15px;
    color: #404040;
    outline: none;

    &[type="range"] {
      appearance: revert;
    }
  }

  video {
    display: block;
    min-height: 200px;
    width: 268px;
    margin: 5px auto 0 auto;
    background-color: #333;
    transform: scaleX(-1);
  }

  .shortcuts {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;
      padding-left: 0;
      margin-top: 0;
      font-size: 10pt;

      >* {
        width: calc(50% - 10px);
        margin: 0 5px;
        box-sizing: border-box;
      }

      li {
        line-height: 20px;
      }
    }
  }

  button {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    user-select: none;
    vertical-align: middle;
    background-color: #e6e6e6;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: rgba(0, 0, 0, .8);
    font-size: 100%;
    padding: .5em 1em;
    text-decoration: none;
    margin-top: 7px;
    width: 100%;

    &:hover {
      background-color: #0078e7;
      color: #fff;
    }
  }
}
