.tileset-toolbox {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: #2E3440;
  z-index: 5;

  .marker {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
    pointer-events: none;
  }

  .tileset-toolbox-img {
    position: relative;
    overflow: scroll;
    height: 240px;

    img {
      image-rendering: pixelated;
    }
  }

  .js-tilesets-select {
    width: 100%;
  }

  .tileset-toolbox-erase {
    height: 200px;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 0px;
    grid-template-columns: 60px 60px;
    margin-left: 10px;

    .button {
      width: 50px;
      height: 30px;
    }
  }

  .tileset-toolbox-info {
    margin-left: 10px;
    height: 20px;
    font-size: 16px;
  }
}
