@import "../../../client/variables";

button.emoji-before-tooltip {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;

  margin-top: 0;
  margin-left: 20px;
  vertical-align: text-bottom;
  align-items: center;
  justify-content: center;

  height: 30px;
  width: 30px;
  font-size: 12px;

  background-color: darken($light-blue, 20%);
  border-radius: 50%;
}

.emoji-before-tooltip:hover {
  background-color: darken($light-blue, 15%);
  border-radius: 35%;
  transition: all 0.2s ease-in-out;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  font-size: 0.5em !important;
  opacity: 70%;
  width: 120px;
  height: 30px;
  margin-left: 20px;
  padding: 5px;
  line-height: 22px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.h4 {
  margin-top: -16px;
  margin-bottom: 20px;
}

.notifications {
  padding: 15px;
  height: 100%;
  overflow-y: auto;

  ul {
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
    overflow-y: auto;

    li {
      position: relative;
      width: 100%;
      list-style-type: none;

      &:not(:last-child) {
        border-bottom: 1px dashed #5c5e6b;
      }

      .notification-entry {
        display: flex;
        cursor: pointer;
        background-color: darken($light-blue, 20%);
        padding: 10px 0 1px;
        color: $main-text-color;

        &.js-notification-clickable:hover {
          cursor: pointer;
          background-color: darken($light-blue, 15%) !important;
        }

        .notification-content {
          width: 100%;
        }

        &.read {
          background-color: transparent;
        }

        .avatar-viewer {
          width: 50px;
          height: 50px;
          margin-right: 5px;

          .character-body-part-container {
            transform: scale(0.6) translate(6px, -41px);
          }
        }

        .date {
          position: absolute;
          right: 10px;
          font-size: 0.8rem;
        }

        .name {
          font-weight: bold;
          margin-bottom: 2px;
        }

        .subject {
          font-size: 0.85rem;
        }
      }

      .js-quest-name {
        cursor: pointer;
        font-weight: bold;
      }

      button.js-play {
        cursor: pointer;
        background: none;
        border: 0;
        padding: 0 3px 0 0;

        &::after {
          content: "▶️";
        }

        &.playing::after {
          content: "⏸";
        }
      }
    }
  }
}
