@import "../_variables";

.editor-content {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .editor-menu {
    *,
    *::before,
    *::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    width: 5rem;
  }

  .sub-editor {
    display: flex;
    flex-grow: 1;
    position: relative;
  }

  .nav {
    .nav-list {
      background: white;
      box-shadow: 0px 0px 10px $gray200;
      padding: 1rem 0;
      width: 5rem;
      height: 100vh;
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    .nav-item {
      list-style: none;
      font-size: 0.7rem;
      text-align: center;
      transition: all 100ms ease-in;

      &.selected {
        svg {
          fill: $lem-color-6;

          &:hover {
            fill: $lem-color-6;
          }
        }

        a {
          color: $lem-color-6;

          &:hover {
            color: $lem-color-6;
          }
        }
      }

      svg {
        fill: $gray400;
        width: 2rem;
        height: 2rem;
        transition: all 100ms ease-in;

        &:hover {
          fill: $gray500;
        }
      }

      a {
        color: $gray400;
        text-decoration: none;

        &:hover {
          color: $gray500;
        }
      }
    }
  }

  @media screen and (max-width: 550px) {
    .nav {
      .nav-list {
        flex-direction: row;
        width: 100vw;
        height: 5rem;
        bottom: 0;
        justify-content: space-around;
      }
    }
  }
}
