@import "../_variables";

div.settings {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0;

  .menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 255px;
    min-width: 255px;
    padding: 25px 16px 10px;
    background-color: $new-dark-primary;

    .title {
      font-size: 20px;
      font-weight: 600;
      text-align: left;
      margin: 0;
    }

    .menu-entries {
      display: flex;
      flex-direction: column;
      height: 100%;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        .button {
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          padding: 0.5em 0.5rem;
          background-color: transparent;
          text-align: left;

          svg {
            transform: scale(0.9);
          }

          &:hover {
            background-color: lighten($main-color, 15%);
          }
        }

        &.logout {
          margin-top: auto;
          button {
            color: $new-red;
          }
        }

        &.selected {
          button {
            background-color: #A5E6BA;
            color: #211d2c;
          }

          &:hover {
            button {
              background-color: $new-green;
            }
          }
        }
      }
    }
  }

  .highlight {
    background-color: $light-red;
  }

  .container {
    padding: 10px 30px;
  }

  video {
    display: block;
    min-height: 200px;
    width: 430px;
    margin: 5px auto 0;
    background-color: #333;
    transform: scaleX(-1);
  }
}
