@import "../_variables";

div.settings {
  .menu .title {
    .icon {
      display: none;
      fill: white;

      @include media-max("phone-down") {
        display: block;
      }
    }

  }

  .menu {
    @include media-max("phone-down") {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 40px;
      left: 0px;
      width: 40px !important;
    }
    .text {
      display: block;

      @include media-max("phone-down") {
        display: none;
      }
    }
  }

  .settings-content {
    display: flex;
    flex-direction: column;
    background-color: #262837;
    width: 100%;

    @include media-max("phone-down") {
      overflow: hidden;
      width: initial;

      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 40px;
    }

    .options {
        display: grid;
        grid-template-rows: auto min-content;
        width: 100%;
        overflow: hidden;
        height: 100%;

      form {
          overflow: auto;

        padding: 0 20px;

        >div {
          width: 100%;
        }

        textarea {
          min-width: 100%;
          min-height: 100px;
        }

        .h3 {
          margin: 0;
        }

        p {
          font-size: 14px;
          margin: 7px 0;
          color: #898c8e;
        }

        .form-element-m {
          width: 50%;

          @include media-max("phone-down") {
            width: 100%;
          }
        }

        .form-element-s {
          width: 33%;
        }

      }

      .actions {
        display: flex;
        justify-content: end;
        background-color: rgba(#211d2c, 0.95);
        padding: 10px;
        bottom: -10px;
        margin-top: 25px;
        gap: 10px;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.25s linear;

        @include media-max("phone-down") {
          position: initial;
        }

        &.show {
          opacity: 1;
          pointer-events: all;
        }

        button {
          margin: 0;
          width: 200px;

          &.link {
            width: auto;
            min-width: 100px;
          }
        }
      }
    }
  }

  .name-section {
    width: 100%;

    input.js-name {
      width: 65%;
    }

    select.js-name-color {
      width: 34%;
    }
  }

  .reaction-section {
    width: 100%;
  }

  .js-logout {
    background-color: $light-red;
  }

  @include media-max("phone-down") {
    .logout {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 40px;
      padding-bottom: 5px;
    }
  }

}