@import "../_variables";

div.settings {
  .name-section {
    width: 100%;

    input.js-name {
      width: 65%;
    }

    select.js-name-color {
      width: 34%;
    }
  }

  .reaction-section {
    width: 100%;
  }

  .js-logout {
    background-color: $light-red;
  }
}
