@import "../_variables";

.user-list {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;

  .empty {
    margin-top: 30px;
    text-align: center;
    color: $main-text-color;
    font-size: 0.8rem;
  }

  .tabs {
    display: flex;
    width: 300px;
    margin: 10px auto;

    .button {
      cursor: default;
      pointer-events: none;
      margin: 0;
      border-radius: 0;
      padding: 5px;
      transition: all 0.25s;
      height: 35px;
      width: 50%;

      &.show {
        cursor: pointer;
        pointer-events: all;
        background-color: #1c1d21;

        &:hover {
          filter: saturate(100%);
        }
      }

      &:first-child {
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
      }

      &:last-child {
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
      }
    }
  }

  .js-team-manage {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    font-size: 23pt;
    padding: 0;
    font-weight: bold;
  }

  .users {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0.9rem;
    overflow: auto;

    .user {
      margin: 2px 10px;
      padding: 0 5px;
      border-radius: 5px;
      line-height: 26px;
      display: grid;
      grid-template-columns: 220px minmax(180px, auto) minmax(150px, auto) minmax(70px, auto) 30px;
      align-items: center;

      &:hover {
        background-color: darken($main-color, 5%);
      }

      .main {
        display: flex;
        flex-direction: row;
        align-items: center;

        .js-profile {
          cursor: pointer;
          white-space: nowrap;
          overflow: hidden;
          max-width: 215px;

          &:hover {
            color: $light-blue;
          }
        }

        .avatar-viewer {
          width: 30px;
          height: 35px;
          margin-right: 5px;

          .character-body-part-container {
            transform: scale(0.4) translate(-24px, -70px);
          }

          .avatar::before {
            bottom: 4px;
            right: 4px;
            width: 6px;
            height: 6px;
          }
        }
      }

      .js-guild:hover {
        cursor: pointer;
        font-weight: bold;
        color: $light-blue;
      }

      .zone,
      .guild {
        max-width: 150px;
        font-size: 0.8rem;
        color: darken($main-text-color, 10%);
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
      }

      .guild {
        max-width: 180px;
      }

      .actions,
      .infos {
        text-align: center;
        font-size: 1rem;
        display: flex;
        gap: 5px;
        justify-content: center;
      }

      .actions {
        display: flex;
        flex-direction: row;
        gap: 8px;

        button {
          cursor: pointer;
          appearance: none;
          border: 0;
          background: none;
          opacity: 0.9;
          margin: 0;
          padding: 0;

          &:hover {
            opacity: 1;
          }
        }
      }

      .infos {
        width: 30px;

        .js-profile:hover {
          cursor: pointer;
          text-decoration: underline;
        }

        .js-toggle-edition {
          cursor: pointer;
          position: relative;

          &.denied::after {
            content: "❌";
            position: absolute;
            z-index: 2;
            top: 3px;
            left: 0;
            transform: scale(0.8) translate(0, -5px);
          }
        }
      }
    }
  }
}
