@import "../../_variables";

:root {
  --edit-menus-size: 350px;
  --edit-menus-backdrop: 15px;
  --edit-menus-z-index: 6;
  --edit-menus-icons-size: 36px;
  --edit-menus-shape-border: #23ABEE;
  --edit-menus-shape-fill: #45BFF9;
  --edit-menus-shape-selected-border: #2C96D0;
  --edit-menus-shape-selected-fill: #33AEF2;
}

.edit-toolbox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 350px;
  height: 100%;
  background-color: $secondary-color;
  z-index: 100;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 0.25s linear;
  opacity: 0;
  pointer-events: none;

  &.show {
    transform: translateX(0%);
    opacity: 1;
    pointer-events: all;
  }

  .tabs {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    max-width: 95%;
    margin: 10px auto;
    border-radius: 0.2rem;
    overflow: hidden;

    .tab {
      flex-grow: 1;
      max-height: 40px;
      margin: 0;
      background-color: #40435b;
      filter: saturate(50%);
      border-radius: 0;
      padding: 5px;
      transition: all 0.25s;
      cursor: pointer;
      pointer-events: all;
      text-align: center;
      color: white;
      font-size: 0.85rem;

      &.active {
        cursor: default;
        pointer-events: none;
        background-color: $light-blue;
        filter: saturate(70%);

        &:hover {
          filter: saturate(100%);
        }
      }
    }
  }

  .side-bar {
    min-height: 0;
    flex: 1;

    > div {
      max-height: 100%;
      height: 100%;
    }
  }
}
