@import "../../_variables";

.entity-editor {
  .js-edit-entity-name {
    font-size: 1.2rem;
    background: transparent;
    padding: 0;
    color: white;
    font-weight: bold;
    margin: 0 0 10px;
  }

  .entity-form-element {
    display: flex;
    align-items: center;
    height: 35px;

    label {
      width: 80px;
    }

    select {
      width: 70%;
    }
  }

  button.secondary {
    background-color: transparent;
    text-decoration: underline;
  }

  button.red {
    background-color: $light-red;
  }
}
