@import "../../_variables";

.entity-editor {
  .back_btn {
    border: 1px solid white;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 15px;
    cursor: pointer;
  }

  .switch_ctnr {
    width: 50px;
    height: 20px;
    background-color: grey;
    border-radius: 10px;
    overflow: hidden;

    .switch_anim {
      transition: margin-left .5s ease;
      width: calc(200% - 20px);
      height: 20px;
      background: linear-gradient(0deg, darken($light-green, 15%) 0%, darken($light-green, 15%) 50%, darken($light-red, 15%) 50%, darken($light-red, 15%) 100%);
      background: -webkit-linear-gradient(0deg, darken($light-green, 15%) 0%, darken($light-green, 15%) 50%, darken($light-red, 15%) 50%, darken($light-red, 15%) 100%);
      background: -moz-linear-gradient(0deg, darken($light-green, 15%) 0%, darken($light-green, 15%) 50%, darken($light-red, 15%) 50%, #f00 100%);
      border-radius: 10px;

      &.off {
        margin-left: calc(-50% - 5px);
      }

      .switch_bullet {
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background-color: white;
        margin-left: calc(50% - 10px);
      }
    }
  }

  .js-edit-entity-name {
    font-size: 1.2rem;
    padding: 0px 5px;
    color: white;
    font-weight: bold;
    margin: 10px 0px;
  }

  .entity-form-element {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    min-height: 35px;


    label {
      width: 80px;

      &.entity-depth,
      &.entity-scale {
        width: 100%;
      }
    }

    select {
      width: 70%;
    }
  }

  #entity-depth,
  #entity-scale {
    width: 75%;
    background: transparent;
  }

  button.secondary {
    background-color: transparent;
    text-decoration: underline;
  }

  button.red {
    background-color: $light-red;
  }

  button.js-reset-attribute {
    width: 20%;
    padding: 5px;
    font-size: 1.2rem;
    margin: 0;
    transform: scale(0.8);
  }

  button.js-entity-delete {
    color: darken($light-red, 15%);
    border: 1px solid darken($light-red, 15%);
    background-color: rgba(lighten($light-red, 15%), .2);
    font-weight: bold;
  }
}

.entity-toolbox-properties {
  display: flex;
  flex-direction: column;
  height: 100%;

  > :first-child {
    flex-grow: 1;
    flex-shrink: 1;
  }

  textarea {
    width: 100%;
    height: 210px;
    flex: 1;
    background-color: transparent;
    color: white;
    font-size: 0.9rem;
    line-height: 1.3rem;
  }

  .actions {
    display: flex;
    flex-direction: row;

    .button {
      width: auto;
      margin: 5px;
    }

    .button:nth-last-child(2) {
      margin-left: auto;
    }
  }
}
