.zones-toolbox {
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
  color: white;

  .js-zone-add {
    margin: 0 0 5px;
    font-size: 0.85rem;
  }

  .pointer {
    display: block;
    height: 30px;
    text-align: center;
  }

  .zones {
    overflow: auto;
    flex-grow: 1;

    .zone {
      display: block;
      padding: 4px 0;
      font-size: 0.9rem;
    }

    .js-properties,
    .js-set1,
    .js-set2 {
      cursor: pointer;
    }

    .zone:hover {
      background-color: #E5E9F0;
    }

    .zone.active {
      background-color: #D8DEE9;

      .point.active {
        background-color: #4C566A;
      }
    }
  }
}

.zones-toolbox-properties {
  display: flex;
  flex-direction: column;
  height: 100%;

  > :first-child {
    flex-grow: 1;
    flex-shrink: 1;
  }

  textarea {
    width: 100%;
    height: 210px;
    flex: 1;
    background-color: transparent;
    color: white;
    font-size: 0.9rem;
    line-height: 1.3rem;
  }

  .actions {
    display: flex;
    flex-direction: row;

    .button {
      width: auto;
      margin: 5px;
    }

    .button:nth-last-child(2) {
      margin-left: auto;
    }
  }
}
