$primary-color: #E8C97A;
$secondary-color: #3B3A4F;
$text-color: #D17851;
$lem-border: rgba(0, 38, 255, 0.08);
$primary-color-transparent-1: rgba(59, 58, 79, 0.4);
$lem-color-1: #8d7865;
$lem-color-2: #dce0c3;
$lem-color-3: #f4f7df;
$lem-color-4: #e3bc79;
$lem-color-5: #3f96d6;
$lem-color-6: #3bbc84;
$lem-color-7: #d14e53;
$lem-color-8: #3c3c3c;
$lem-color-9: #1d1d1d;

// Shade of grey
$gray100: #f0f7f8;
$gray200: #cfd8dc;
$gray300: #a7b7be;
$gray400: #6b7e86;
$gray500: #425a65;
$main-color: #201d2c;
$highlight-color: #b18800;
$light-red: #EB584E;
$light-green: #13C4A3;
$light-blue: #4381C1;
$light-yellow: #FFE19C;
$light-orange: #FFBB04;
$main-text-color: #eeebf1;
$radius: 0.5rem;

$new-green: #A5E6BA;
$new-yellow: #E7DFC6;
$new-red: #C73E1D;
$new-dark-primary: #201d2c;
$new-dark-secondary: #262837;
