@import "../_variables";

.button {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  user-select: none;
  vertical-align: middle;
  background-color: darken($light-blue, 15%);
  border: 0;
  color: white;
  font-size: 100%;
  padding: .5em 1em;
  text-decoration: none;
  margin-top: 7px;
  width: 100%;
  transition: all 0.25s;
  border-radius: 5px;

  &:hover {
    background-color: darken($light-blue, 5%);
    color: #fff;
  }
}


.label {
  display: block;
  padding-top: 15px;
  font-size: 10pt;
  color: $main-text-color;
  cursor: pointer;
}

.input,
.textarea,
.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  min-height: 36px;
  padding: 8px 12px;
  width: 100%;
  margin-top: 5px;
  background: #2b2731;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #b1afb8;
  outline: none;

  &:focus {
    border: 1px solid $light-blue;
  }

  &[type="range"] {
    appearance: revert;
  }
}

.link {
  border-radius: 10px;
  background-color: transparent;
  border: 0;
  text-decoration: underline;
  color: $light-blue;

  &:hover {
    background-color: transparent;
    color: lighten($light-blue, 10%);
    cursor: pointer;
  }
}
