$frame-width: 47px;
$frame-height: 85px;
$offline-indicator-color: #E58273;
$online-indicator-color: #13C4A3;

.avatar-viewer {
  cursor: pointer;
  position: relative;
  width: $frame-width;
  height: $frame-height;

  .username {
    transform: translateX(-50%);
    position: absolute;
    top: -35px;
    left: 50%;
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    padding: 5px;
    color: white;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.2s linear;
    z-index: 10;
    pointer-events: none;
  }

  &.show-status {
    .avatar:before {
      display: block;
    }
  }

  &:hover {
    .username {
      opacity: 1;
    }
  }

  .avatar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    &:before {
      display: none;
      content: '';
      border-radius: 50%;
      bottom: 0;
      right: 0;
      background-color: $offline-indicator-color;
      width: 8px;
      height: 8px;
      position: absolute;
      z-index: 5;
    }

    &.online:before {
      background-color: $online-indicator-color;
    }

    .character-body-part-container {
      pointer-events: none;
      position: absolute;
      margin: 0;
      width: $frame-width;
      height: $frame-height;
      overflow: hidden;

      .character-body-part {
        display: block;
        position: absolute;
        top: -200px;
        left: -865px;
        margin: 0;
        image-rendering: pixelated;
      }
    }
  }
}
