@import "../variables";

.console-scope-selector {
  button.js-scope-selector {
    display: inline-block;
    text-align: center;
    height: 100%;
    padding: 0;
    padding: 0 10px 0 15px;
    background-color: rgba($main-color, 0.95);
    font-size: 21px;

    &:hover:enabled {
      cursor: pointer;
      background-color: lighten(rgba($main-color, 0.95), 15%);
    }
  }
}
