.console-scope-selector {
  button.js-scope-selector {
    display: inline-block;
    text-align: center;
    height: 100%;
    padding: 0;
    font-size: 21px;
    padding-left: 15px;
    transform: translateY(-2px);
    cursor: pointer;
  }
}
