@import "../_variables";

.editor-onboarding {
  margin: 10px;
  width: 100%;

  h1,
  h2,
  h3 {
    margin: 5px 0;
    color: $main-color;
  }

  h2 {
    margin-top: 20px;
  }

  label {
    color: $main-color;
  }

  input,
  select {
    background-color: white;
    color: $main-color;
    border: 1px solid $main-color;
  }

  button {
    &.disabled {
      pointer-events: none;
      filter: grayscale(1);
    }
  }

  .output {
    margin: 20px 0;
    padding: 10px;
  }

  .copy-field {
    display: flex;

    input {
      border-radius: $radius 0 0 $radius;
    }

    button {
      border-radius: 0 $radius $radius 0;
      width: 45px;
      margin-top: 5px;

      svg {
        width: 18px;
        height: 18px;
        transform: translate(-2px, 3px);
      }
    }
  }
}
