.editor-entities {
  padding: 10px;

  .entity-list {
    max-height: 100%;
    width: 400px;
    overflow-y: scroll;
    
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        flex-direction: row;

        > .thumbnail {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 35px;
          height: 35px;
          image-rendering: pixelated;
          background-repeat: no-repeat;
        }

        > .entity-label {
          flex-grow: 1;
        }

        input[type=text] {
          padding: 0;
          margin: 0;
          border: 0;
        }
      }
    }
  }
}
