.level-toolbox {
  padding: 5px;
  margin: 5px;
  width: 470px;
  display: flex;
  flex-direction: column;
  color: #2E3440;
  z-index: 5;

  h1 {
    font-size: 14pt;
    text-align: center;
    margin-bottom: 0;
  }

  label[for=level-toolbox-hidden] {
    display: inline-block;
    margin: 15px 5px 10px 0;
  }
}
