.level-toolbox {
  padding: 5px;
  margin: 5px;
  width: 470px;
  display: flex;
  flex-direction: column;
  color: #2E3440;
  z-index: 5;

  h1 {
    font-size: 14pt;
    text-align: center;
    margin-bottom: 0;
  }

  label {
    display: block;
    padding-top: 15px;
    font-size: 10pt;
  }

  input,
  textarea,
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    min-height: 36px;
    padding: 8px 12px;
    width: 100%;
    margin-top: 5px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    box-sizing: border-box;
    border-radius: 1px;
    font-size: 15px;
    color: #404040;
    outline: none;

    &[type="range"] {
      appearance: revert;
    }
  }

  button {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    user-select: none;
    vertical-align: middle;
    background-color: #e6e6e6;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: rgba(0, 0, 0, .8);
    font-size: 100%;
    padding: .5em 1em;
    text-decoration: none;
    margin-top: 7px;
    width: 100%;

    &:hover {
      background-color: #0078e7;
      color: #fff;
    }
  }
}
