.level-tags-create {
  margin: 10px;
  background-color: #eaedf2;

  label {
    display: block;
    font-size: 10pt;
  }

  input,
  textarea {
    appearance: none;
    display: inline-block;
    min-height: 36px;
    padding: 8px 12px;
    width: 100%;
    margin-top: 5px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    box-sizing: border-box;
    border-radius: 1px;
    font-size: 15px;
    color: #404040;
    outline: none;
    max-width: 100%;
    min-width: 100%;
  }

  button {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    user-select: none;
    vertical-align: middle;
    background-color: #b5bed0;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #4e576a;
    font-size: 100%;
    padding: .5em 1em;
    text-decoration: none;
    margin-top: 7px;
    width: 100%;
    transition: all 0.25s;

    &:hover {
      background-color: darken(hsl(220, 22%, 76%), 15%);
      color: #fff;
    }

    &.js-go-back {
      margin-bottom: 20px;
    }
  }
}
