.level-tags-user {
  background-color: #b5bed0;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #4e576a;
  padding: 5px 10px;

  button {
    cursor: pointer;
    appearance: none;
    border: none;
    background: transparent;
    color: #4e576a;
    font-weight: bold;
    padding: 0;
  }
}
