$background-color: #eaedf3;
$background-color-lighter: #f4f7fb;
$text-color: #4f4f4f;

.modal-container {
  pointer-events: none;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    background-color: black;
    opacity: 0;
    transition: opacity 0.15s linear;
  }

  .modal {
    .modal-window {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 201;
      width: 550px;
      height: 500px;
      background-color: $background-color;
      border: 0;
      border-radius: 10px;
      margin: 0;
      overflow: hidden;
      padding: 0;
      opacity: 0;
      transition: opacity 0.15s linear;

      .modal-body {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;

        .container {
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      .js-modal-close {
        position: absolute;
        right: 10px;
        top: 10px;
        appearance: none;
        background: none;
        border: 0;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        opacity: 0.8;
        color: #4e576a;

        &:hover {
          opacity: 1;
        }
      }

      .modal-title {
        color: #4e576a;
        text-align: left;
        font-size: 17pt;
        margin: 0;
        padding: 12px 25px;
        background-color: #d0d6e1;
        font-weight: bold;
      }

      *.background-lighter {
        background-color: $background-color-lighter;
      }

      .modal-content {
        color: $text-color;
        overflow-y: auto;
        height: 100%;
      }
    }

    &.visible {
      .modal-window {
        opacity: 1;
      }
    }
  }

  &.visible {
    pointer-events: all;

    .background {
      opacity: 0.3;
    }

    .modal .modal-window {
      opacity: 1;
    }
  }
}
