@import "../_variables";

.notifications {
  ul {
    padding: 0;
    margin: 0;

    li {
      position: relative;
      display: flex;
      width: 100%;
      padding: 10px 0 1px 0;
      background-color: darken($light-blue, 20%);
      color: $main-text-color;

      &:not(:last-child) {
        border-bottom: 1px dashed #5c5e6b;
      }

      &.notification {
        .notification-content {
          width: 100%;
        }

        &.read {
          background-color: transparent;
        }

        .avatar-viewer {
          width: 50px;
          height: 50px;
          margin-right: 5px;

          .character-body-part-container {
            transform: scale(0.6) translate(6px, -41px);
          }
        }

        .date {
          position: absolute;
          right: 10px;
          font-size: 0.8rem;
        }

        .name {
          font-weight: bold;
          margin-bottom: 2px;
        }

        .subject {
          font-size: 0.85rem;
        }
      }

      .js-quest-name {
        cursor: pointer;
        font-weight: bold;
      }

      button.js-play {
        cursor: pointer;
        background: none;
        border: 0;
        padding: 0 3px 0 0;

        &:after {
          content: '▶️';
        }

        &.playing:after {
          content: '⏸';
        }
      }
    }
  }
}
