.profile {
  h1 {
    text-align: center;
  }

  .content {
    height: 375px;
    max-height: 390px;
    margin-top: 15px;
    display: flex;
    flex-flow: column nowrap;

    div {
      margin-bottom: 15px;

      label {
        padding-top: 0;
      }
    }
  }

  &.edition-allowed {
    textarea {
      min-height: 100px;
      min-width: 100%;
    }

    .website {
      display: none;
    }
  }

  &:not(.edition-allowed) {

    input,
    textarea {
      border: 0;
      background-color: transparent;
      pointer-events: none;
      resize: none;
      width: 100%;
      color: #cdcbd2;
      padding: 0;
      margin: 0;
    }

    textarea {
      height: 165px;
      text-overflow: ellipsis;
      width: 100%;
    }

    .js-website {
      display: none;
    }

    .website {
      display: block;
      font-size: 12px;
      color: #4d19ff;
      text-decoration: none;
    }
  }

  .age {
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    width: 100%;
  }
}
