@import "../_variables";

$menu-background-opacity: 0.8;
$z-index: 4;

.radial-menu-container {
  position: absolute;
  z-index: $z-index;
  pointer-events: none;
  user-select: none;

  .label {
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    font-size: 11pt;
    padding: 3px 10px;
    border-radius: $radius;
    background-color: $main-color;
    color: $main-text-color;
    opacity: 0;

    &.show {
      opacity: 1;
    }
  }
}

.radial-menu {
  width: 195px;
  height: 195px;
  transform: scale(0) translate(-50%, -65%);
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: top left;
  opacity: 0;
  pointer-events: none;

  .username {
    position: absolute;
    top: -10px;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.15rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    transform: translateY(-100%);
  }

  &.show {
    transform: scale(1) translate(-50%, -65%);
    opacity: 1;
    pointer-events: all;

    ul {
      transform: translate(-50%, -50%);
    }
  }

  &.show-shortcuts {
    li::before {
      opacity: 1;
    }
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
    opacity: $menu-background-opacity;
    background: radial-gradient(50% 50%, transparent 50%, $main-color 50%);
  }

  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    transform-origin: center;
    padding: 0;
    margin: 0;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    z-index: 2;

    li {
      cursor: pointer;
      box-sizing: border-box;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 45px;
      height: 45px;
      border-radius: 50px;
      margin: 0;
      color: white;
      transform: translate(-50%, -50%);

      &::before {
        content: attr(data-shortcut);
        position: relative;
        z-index: 2;
        padding: 1px 5px;
        font-size: 8pt;
        top: 25px;
        right: -26px;
        background-color: white;
        color: black;
        border: 1px solid black;
        opacity: 0;
        transition: opacity 0.1s linear;
        border-radius: 50%;
      }

      &.off {
        button {
          background-color: $light-red;

          &:hover {
            background-color: darken($light-red, 5%);
          }
        }

        &::after {
          content: "âŒ";
          z-index: 1000;
          position: absolute;
          color: hsl(8deg, 70%, 47%);
          font-weight: bold;
          top: 50%;
          left: 50%;
          transform: translate(-43%, -51%);
          font-size: 12pt;
          pointer-events: none;
        }
      }

      &.on {
        button {
          background-color: $light-green;

          &:hover {
            background-color: darken($light-green, 5%);
          }
        }
      }

      button {
        border: 0;
        background: none;
        cursor: pointer;
        width: 90%;
        height: 90%;
        border-radius: 50%;
        background-color: rgba($main-color, 0.95);
        transition: background-color 0.1s linear;

        &:hover {
          background-color: #A9AABC;
        }

        &:active {
          background-color: $light-blue;
        }
      }

      >* {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 15pt;
      }
    }
  }
}
