.settingsPassword {
  
  h1 {
    text-align: center;
  }

  .content {
    height: 375px;
    max-height: 390px;
    margin-top: 15px;
    display: flex;
    flex-flow: column nowrap;

    div {
      margin-bottom: 15px;

      label {
        padding-top: 0;
      }

      .js-copy-identifier {
        cursor: pointer;
      }
    }
  }

  &.edition-allowed {
    textarea {
      min-height: 100px;
      min-width: 100%;
    }
  }

}