@import "../_variables";

div.settings {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;

  .title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 14pt;
  }

  .h2 {
    font-size: 14pt;
    margin-bottom: 10px;
    text-align: left;
  }

  .options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 25px;
    background-color: lighten($main-color, 5%);

    >* {
      &:last-child {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-top: 15px;
        width: 100%;

        button {
          margin-top: 0;
        }
      }
    }
  }

  video {
    display: block;
    min-height: 200px;
    width: 430px;
    margin: 5px auto 0 auto;
    background-color: #333;
    transform: scaleX(-1);
  }

  .shortcuts {
    flex-grow: 1;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      font-size: 10pt;

      >* {
        width: calc(50% - 10px);
        margin: 0 5px;
        box-sizing: border-box;
      }

      li {
        line-height: 20px;
      }
    }
  }

  .actions {
    text-align: center;

    .link {
      padding-bottom: 10px;
      font-size: 1rem;
    }
  }
}
