@import "../_variables";

:root {
  --settings-characters-size-height: 32px;
  --settings-characters-size-width: 16px;
}

.settingsCharacter {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding-right: 0;

  .renderCharacter {
    width: 75px;
    min-width: 75px;
    display: flex;
    align-items: center;
    margin-left: 25px;
  }

  .customize {
    flex-grow: 1;
    display: flex;

    .customize-menus {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 50px;

      .customize-menu {
        background-color: $lem-color-8;
        border: 2px solid $lem-color-9;
        border-right: 0;
        border-radius: 1rem 0 0 1rem;
        width: 50px;
        cursor: pointer;

        svg {
          margin: 0.3rem;
          height: 36px;
          width: 36px;
          fill: white;
        }

        &.selected {
          background-color: $lem-color-6;
        }
      }
    }


    .customize-selection {
      flex-grow: 1;
      background-color: lighten($main-color, 10%);
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      overflow: scroll;
      padding: 10px;

      .characters-choices {
        border-radius: $radius;
        background-color: $main-color;
        cursor: pointer;

        margin: 0;
        position: relative;
        width: 48px;
        height: 120px;
        overflow: hidden;

        &:hover {
          background-color: lighten($main-color, 5%);
        }

        &.selected {
          background-color: $light-yellow;
        }

        .sprite-character {
          image-rendering: pixelated;
          margin: 0;
          position: absolute;
          top: -200px;
          left: -866px;
          display: block;

          &.empty-choices {
            width: 48px;
            height: 120px;
            top: 0;
            left: 0;
          }
        }
      }

    }
  }
}
