@import "../_variables";

.user-list-selection {
  display: flex;
  flex-direction: column;
  height: 100%;
  user-select: none;

  button.js-submit {
    margin: 10px auto;
    width: 97%;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0.9rem;
    flex-grow: 1;
    overflow: scroll;

    .user {
      margin: 2px 5px;
      padding: 0 5px;
      border-radius: 5px;
      line-height: 26px;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
  
      &:hover {
        background-color: darken($main-color, 5%);
      }

      &.selected {
        background-color: darken($light-green, 15%);
      }

      .avatar-viewer {
        width: 30px;
        height: 35px;
        margin-right: 5px;

        .character-body-part-container {
          transform: scale(0.4) translate(-24px, -70px);
        }

        .avatar:before {
          bottom: 4px;
          right: 4px;
          width: 6px;
          height: 6px;
        }
      }
    }
  }
}
