@import "../_variables";

.zone-name-toaster {
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 150;
  left: 50%;
  width: auto;
  min-width: 250px;
  transform: translate(-50%, -100%);
  background: $main-color;
  border-radius: 0 0 20px 20px;
  color: $main-text-color;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s cubic-bezier(0.55, 0, 1, 0.45);

  &.show {
    transition: transform 0.3s cubic-bezier(0, 0.55, 0.45, 1);
    transform: translate(-50%, 0);
  }

  &:hover {
    background: lighten($main-color, 10%);
  }

  &.new-content {
    font-weight: bold;
    animation: toaster-background-animation 1.5s infinite;
  }
}

@keyframes toaster-background-animation {
  50% {
    background-color: lighten($main-color, 10%);
  }
}
