$background-color: #2c2e3e;
$border-radius: 8px;
$quest-join-button-color: #13C4A3;
$quest-uncompleted-color: #02a3ff;

.quest-toolbar {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.25s linear;
  pointer-events: none;
  background-color: $background-color;
  border-radius: $border-radius $border-radius 0 0;
  height: 52px;

  &.show {
    opacity: 1;
    pointer-events: all;
  }

  &.completed {
    .actions {
      button.js-toggle-state {
        display: none;
        background-color: $quest-uncompleted-color;
        color: white;

        &:hover {
          background-color: darken($quest-uncompleted-color, 20%);
        }

        &.closed {
          display: block;
        }
      }
    }
  }

  .js-quest-name {
    width: 100%;
    height: 100%;
    text-align: left;
    background: transparent;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    padding-left: 15px;

    &::placeholder {
      color: rgb(201, 196, 196);
    }
  }

  .actions {
    display: flex;
    position: absolute;
    right: 10px;
    top: 8px;
    gap: 10px;

    button {
      border-radius: $border-radius;
      border: 0;
      padding: 0 10px;
      cursor: pointer;

      &.js-toggle-state {
        display: block;
        background-color: $quest-join-button-color;
        color: white;

        &:hover {
          background-color: darken($quest-join-button-color, 10%);
        }

        &.closed {
          display: none;
        }
      }

      &.js-quest-join {
        background-color: $quest-join-button-color;
        color: white;
        font-weight: bold;

        &:hover {
          background-color: darken($quest-join-button-color, 10%);
        }
      }
    }

    .users {
      color: white;
      border: 1px solid #71748d;
      border-radius: 5px;
      padding: 0 5px;

      .user-list {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        overflow: inherit;

        li {
          display: flex;
          flex-direction: row;
          align-items: center;

          .avatar-viewer {
            width: 30px;
            height: 35px;

            .character-body-part-container {
              transform: scale(0.35) translate(-25px, -80px);
            }
          }
        }
      }
    }
  }
}
