@import "../../../client/variables";

.quests-list {
  position: relative;
  display: none;
  flex-direction: column;
  width: 240px;
  min-width: 240px;
  background-color: rgba($main-color, 0.95);
  border-radius: $radius;
  pointer-events: none;
  height: 100%;

  .quest-mode-selectors {
    display: flex;
    flex-direction: row;
    min-height: 45px;
    max-height: 45px;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: $main-color;
    border-radius: $radius;

    .js-quest-switch-mode {
      position: relative;
      appearance: none;
      background: transparent;
      border: 0;
      font-size: 0.85rem;
      cursor: pointer;
      transition: opacity 0.15s linear;
      color: $main-text-color;
      border-bottom: 3px ridge transparent;
      flex: 1 1 auto;
      height: 100%;

      span {
        pointer-events: none;
        padding-right: 4px;
      }

      &:first-child {
        flex: 3 1 auto;
      }

      &[data-unread]:not([data-unread="0"]):before {
        content: attr(data-unread);
        position: absolute;
        background-color: darken($light-red, 20%);
        border-radius: 50%;
        top: 0;
        right: 0;
        width: 15px;
        height: 15px;
        font-size: 0.8rem;
        text-align: center;
      }

      &.active {
        opacity: 1;
        font-weight: bold;
        border-bottom: 3px solid $light-yellow;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  &.show {
    display: flex;
    pointer-events: all;
  }

  .quests {
    margin: 0;
    padding: 0;
    overflow: auto;

    .js-category-name {
      cursor: pointer;
      color: $main-text-color;
      background-color: darken($main-color, 3%);
      border-left: 5px solid transparent;
      padding: 10px 5px;
      font-size: 0.9rem;
      font-weight: bold;
    }

    .quest {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      color: $main-text-color;
      padding: 5px;
      transition: all linear 0.150s;
      position: relative;
      border-left: 5px solid transparent;
      font-size: 0.85rem;
      align-items: center;

      .avatar-viewer {
        width: 20px;
        height: 25px;
        margin-right: 5px;

        .character-body-part-container {
          transform: scale(0.35) translate(-37px, -95px);
        }

        .avatar:before {
          bottom: 4px;
          right: 4px;
          width: 6px;
          height: 6px;
        }
      }

      span {
        line-height: 25px;
        max-width: 200px;
      }

      &:hover {
        background-color: lighten(rgba($main-color, 0.95), 15%);
      }

      &.selected {
        background-color: $light-yellow;
        color: $main-color;
        font-weight: bold;
        border-left: 5px solid darken($light-yellow, 20%);

        .author {
          color: lighten($main-color, 20%);
        }
      }

      &.updated {
        border-left: 5px solid $light-red;
      }

      &.empty {
        text-align: center;
        background-color: transparent;
        cursor: default;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
