@import "../../../client/variables";

.quests-list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 240px;
  min-width: 240px;
  background-color: rgba($main-color, 0.95);
  border-radius: $radius;
  opacity: 0;
  transition: opacity 0.25s linear;
  pointer-events: none;

  .quest-mode-selectors {
    display: flex;
    flex-direction: row;
    min-height: 45px;
    max-height: 45px;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: $main-color;
    border-radius: $radius;
    gap: 10px;

    .js-quest-switch-mode {
      position: relative;
      appearance: none;
      background: transparent;
      border: 0;
      font-size: 0.9rem;
      cursor: pointer;
      transition: opacity 0.15s linear;
      color: $main-text-color;
      border-bottom: 2px ridge transparent;

      &[data-unread]:not([data-unread="0"]):before {
        content: attr(data-unread);
        position: absolute;
        background-color: darken($light-red, 20%);
        border-radius: 50%;
        top: 0;
        right: 0;
        width: 15px;
        height: 15px;
        font-size: 0.8rem;
        text-align: center;
      }

      &.active {
        opacity: 1;
        border-bottom: 2px ridge $light-yellow;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  &.show {
    opacity: 1;
    pointer-events: all;
  }

  .title {
    cursor: default;
    color: $main-text-color;
    text-align: center;
    padding: 16px 0;
    margin: 0;
    font-size: 1.1rem;
    background-color: $main-color;
    border-radius: $radius;
  }

  .quests {
    margin: 0;
    padding: 0;
    overflow: auto;

    .js-category-name {
      color: $main-text-color;
      background-color: darken($main-color, 10%);
      border-left: 5px solid transparent;
      cursor: pointer;
      padding: 5px;
    }

    .quest {
      display: flex;
      flex-direction: column;
      color: $main-text-color;
      cursor: pointer;
      padding: 10px;
      transition: all linear 0.150s;
      position: relative;
      border-left: 5px solid transparent;
      
      .author {
        font-size: 0.8rem;
        margin-top: 2px;
        color: #cdc9d0;
      }

      &:hover {
        background-color: lighten(rgba($main-color, 0.95), 15%);
      }

      &.selected {
        background-color: $light-yellow;
        color: $main-color;
        font-weight: bold;
        border-left: 5px solid darken($light-yellow, 20%);

        .author {
          color: lighten($main-color, 20%);
        }
      }

      &.updated {
        border-left: 5px solid $light-red;
      }

      &.empty {
        text-align: center;
        background-color: transparent;
        cursor: default;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
