$quest-updated-color: #E58273;
$quest-toggle-state-color: #13C4A3;

.quests-list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 240px;
  min-width: 240px;
  background-color: #2b2d3df2;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.25s linear;
  pointer-events: none;

  .js-quest-switch {
    position: absolute;
    appearance: none;
    top: 11px;
    background: transparent;
    border: 0;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;

    &.next-mode {
      right: 5px;
    }

    &.previous-mode {
      left: 5px;
    }
  }

  &.show {
    opacity: 1;
    pointer-events: all;
  }

  .title {
    color: white;
    text-align: center;
    padding: 16px 0;
    margin: 0;
    font-size: 1.1rem;
    background-color: #2c2e3e;
    border-radius: 8px;
  }

  .quests {
    margin: 0;
    padding: 0;
    overflow: auto;

    .js-quest {
      display: block;
      color: white;
      cursor: pointer;
      padding: 10px;
      transition: all linear 0.150s;
      position: relative;
      border-left: 5px solid transparent;
      font-weight: bold;
      background-color: #282A35;

      .actions {
        position: absolute;
        right: 10px;
        transform: translateY(-3px);
        opacity: 0;
        display: none;

        .button {
          width: 25px;
          height: 25px;
          padding: 0;
          margin: 0;
          text-align: center;

          &.js-toggle-state {
            background-color: $quest-toggle-state-color;
            border: 0;

            &:hover {
              background-color: darken($quest-toggle-state-color, 20%);
            }
          }
        }
      }

      &:hover {
        background-color: lighten(#2b2d3df2, 10%);
      }

      .actions {
        .js-toggle-state {
          background-color: $quest-toggle-state-color;
          border: 0;

          &:hover {
            background-color: darken($quest-toggle-state-color, 20%);
          }
        }
      }

      &.completed {
        color: #CEDADA;
        font-weight: normal;
        background-color: transparent;

        .actions {
          .js-toggle-state {
            background-color: #91bae9;
            border: 0;

            &:hover {
              background-color: darken(#91bae9, 20%);
            }
          }
        }
      }

      &.selected {
        background-color: #FFE19C;
        color: #2b2d3d;
        font-weight: bold;
        border-left: 5px solid darken(#FFE19C, 20%);

        .actions {
          opacity: 1;
          display: inline-block;
        }
      }

      &.updated {
        border-left: 5px solid $quest-updated-color;
      }
    }
  }
}
