.quests-list {
  position: absolute;
  left: 50%;
  bottom: 130px;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 220px;
  z-index: 100;
  background-color: #2b2d3df2;
  border-radius: 8px;
  transform: translateX(-495px);
  opacity: 0;
  transition: opacity 0.25s linear;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: all;
  }

  .title {
    color: white;
    text-align: center;
    padding: 16px 0;
    margin: 0;
    font-size: 1.1rem;
    background-color: #2c2e3e;
    border-radius: 8px;
  }

  .quests {
    margin: 0;
    padding: 0;

    .js-quest {
      display: block;
      color: white;
      cursor: pointer;
      padding: 10px;
      transition: all linear 0.150s;
      position: relative;
      border-left: 5px solid transparent;
      font-weight: bold;

      .actions {
        position: absolute;
        right: 10px;
        transform: translateY(-3px);
        opacity: 0;
        pointer-events: none;

        .button {
          width: 25px;
          height: 25px;
          padding: 0;
          margin: 0;
          text-align: center;

          &.js-mark-as-completed {
            background-color: #C3E991;
            border: 0;

            &:hover {
              background-color: darken(#C3E991, 20%);
            }
          }
        }
      }

      &:hover {
        background-color: lighten(#2b2d3df2, 10%);
      }

      &.completed {
        color: #CEDADA;
        font-weight: normal;

        .actions {
          .js-mark-as-completed {
            display: none;
          }
        }
      }

      &.selected {
        background-color: #FFE19C;
        color: #2b2d3d;
        font-weight: bold;
        border-left: 5px solid darken(#FFE19C, 20%);

        .actions {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
}
