$loader-color: white;

.ui-loader {
  .loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side, $loader-color 94%, #0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%, $loader-color);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: loader-spin 1s infinite linear;
  }
}

@keyframes loader-spin {
  100% { transform: rotate(1turn); }
}
