@import "../../../client/variables";

.quest-entity {
  display: flex;
  flex-direction: column;
  height: 100%;
  user-select: none;

  .js-quest-create {
    width: 97%;
    margin: 10px auto;
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9rem;
    flex-grow: 1;
    overflow: scroll;

    li {
      display: flex;
      align-items: center;
      line-height: 26px;

      .avatar-viewer {
        width: 30px;
        height: 35px;
        margin-right: 5px;

        .character-body-part-container {
          transform: scale(0.4) translate(-24px, -70px);
        }

        .avatar::before {
          bottom: 4px;
          right: 4px;
          width: 6px;
          height: 6px;
        }
      }
    }
  }

  .actions {
    position: absolute;
    right: 0;
    transform: translate(-40px, -42px);
    display: flex;
    align-items: flex-end;

    button {
      padding: 5px 10px;
      font-size: 0.85rem;
    }

    .js-quest-subscribe {
      &.subscribe {
        background-color: var(--secondary-color);
      }

      &.unsubscribe {
        background-color: $light-red;
      }
    }
  }
}
