@import "../../../client/variables";

.quest-toolbar {
  display: none;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 45px;
  background-color: $main-color;
  border-radius: $radius $radius 0 0;

  &.show {
    display: block;
    pointer-events: all;
  }

  &.completed {
    .actions {
      button.js-toggle-state {
        display: none;
        background-color: $light-blue;
        color: white;

        &:hover {
          background-color: darken($light-blue, 20%);
        }

        &.closed {
          display: block;
        }
      }
    }
  }

  .js-quest-name {
    width: 100%;
    height: 100%;
    text-align: left;
    background: transparent;
    color: $main-text-color;
    font-size: 1.15rem;
    font-weight: bold;
    border: 0;
    padding-left: 15px;

    &::placeholder {
      color: rgba($main-text-color, 0.6);
    }
  }

  .actions {
    display: flex;
    position: absolute;
    right: 42px;
    top: 7px;
    gap: 5px;

    button {
      border-radius: $radius;
      border: 0;
      padding: 0 10px;
      cursor: pointer;

      &.js-toggle-state {
        display: block;
        background-color: $light-blue;
        color: white;

        &:hover {
          background-color: darken($light-blue, 10%);
        }

        &.closed {
          display: none;
        }
      }

      &.js-quest-join {
        background-color: var(--secondary-color);
        color: white;
        font-weight: bold;

        &:hover {
          background-color: var(--secondary-color-darken-10);
        }
      }

      &.js-quest-leave {
        background-color: $light-red;
        color: white;
        font-weight: bold;

        &:hover {
          background-color: darken($light-red, 10%);
        }
      }

      &.js-quest-invite {
        background-color: transparent;
        color: $light-yellow;
        font-weight: bold;

        &:hover {
          color: darken($light-yellow, 10%);
        }
      }
    }

    .users {
      display: flex;
      border: 1px solid lighten($main-color, 35%);
      border-radius: $radius;
      padding: 0 2px;

      .user-list {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        overflow: inherit;

        li {
          display: flex;
          flex-direction: row;
          align-items: center;

          .avatar-viewer {
            width: 30px;
            height: 30px;

            .character-body-part-container {
              transform: scale(0.33) translate(-25px, -91px);
            }

            .avatar::before {
              bottom: 4px;
              right: 4px;
              width: 6px;
              height: 6px;
            }
          }
        }
      }
    }
  }
}
