$background-color: #2b2d3df2;
$border-radius: 8px;

.messages-module {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: 530px;
  height: 350px;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.25s linear;
  overflow: hidden;
  pointer-events: none;
  background-color: $background-color;
  border-radius: $border-radius;

  &.show {
    opacity: 1;
    pointer-events: all;
  }

  .channel-name {
    margin: 0;
    padding: 15px 0;
    text-align: center;
    background-color: #2c2e3e;
    color: white;
  }

  .messages-list {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 10px 5px 10px;
    overflow-y: auto;

    .message {
      display: flex;
      margin-bottom: 10px;
      color: white;

      >div:first-child {
        width: 45px;
        min-width: 45px;
        height: 45px;
        margin-right: 10px;
      }

      div {
        max-width: 100%;
      }

      .avatar-viewer {
        width: 70px;
        height: 70px;
        border-radius: 5px;
        background-color: #2c2e3e;

        .character-body-part-container {
          transform: scale(0.7) translate(-1px, -28px);
        }
      }

      .user {
        font-weight: 600;
      }

      .time {
        cursor: pointer;
        font-size: 0.75em;
        color: #dedede;
      }

      .text {
        margin: 0;
        padding-top: 5px;
      }
    }
  }
}
