$background-color: #2b2d3df2;
$border-radius: 8px;

.messages-module {
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: 530px;
  height: 350px;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.25s linear;
  overflow: hidden;
  pointer-events: none;
  background-color: $background-color;
  border-radius: $border-radius;

  &.show {
    opacity: 1;
    pointer-events: all;
  }

  .messages-list {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 10px 5px 10px;
    overflow-y: auto;

    .message {
      margin-bottom: 10px;
      color: white;

      .user {
        font-weight: 600;
      }

      .time {
        cursor: pointer;
        font-size: 0.85em;
      }

      .text {
        margin: 0;
        padding-top: 5px;
      }
    }
  }
}
